<tw-storydata name="Run" startnode="1" creator="Twine" creator-version="2.2.1" ifid="92C91FB6-47C1-4055-AAA7-25D7FDEBB643" zoom="1" format="Harlowe" format-version="1.2.4" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">


















</style><script role="script" id="twine-user-script" type="text/twine-javascript">var hasplayed = window.localStorage.getItem('hasPlayed') == "true" || false;

function hasPlayed() {
	return hasplayed;
}

function setHasPlayed() {
	hasplayed = true;
	window.localStorage.setItem('hasPlayed', true);
	return true
}

window.hasPlayed = hasPlayed;
window.setHasPlayed = setHasPlayed;














</script><tw-passagedata pid="1" name="Start" tags="" position="602,89" size="100,100">You are an average businessman.

You are in the park, relaxing, having a sandwich that you just bought from the local store.  It&#39;s beautiful and sunny.

A particularly cute tomboy-ish little girl, with a dirty face and hands, runs past you.  Her hair is messy.

[[Discretely watch her]]

[[Look away and concentrate on your sandwich]]



---


&lt;small&gt;Author note: I produce a lot of things.  If you want to see more &lt;a href=&quot;https://www.patreon.com/user?u=4974509&quot;&gt;join my patreon&lt;/a&gt;.  I use the one patreon for everything&lt;/small&gt;
</tw-passagedata><tw-passagedata pid="2" name="Look away and concentrate on your sandwich" tags="" position="775,254" size="100,100">It was tasty.

You finish up, and head off back home.

Such a lovely day.

The End!</tw-passagedata><tw-passagedata pid="3" name="Discretely watch her" tags="" position="475,237" size="100,100">You watch her only a moment, but then the mother comes storming up to you.

Uh oh, she&#39;s a gypsy woman!

She points a finger at you:

&quot;You like little girls do you?  Well let&#39;s see how you feel if they like you back!&quot; she croaks at you.

You&#39;re too shocked to respond, and by the time you&#39;re able she&#39;s already gone.

[[Go to the shop]]

(if: hasPlayed())[
[[Run straight home]] - This sounds too much like a gypsie curse!
]</tw-passagedata><tw-passagedata pid="4" name="Go to the shop" tags="" position="485,382" size="100,100">You head out of the park and towards your home. You decide to stop off at the supermarket on the way to grab some milk.

As you&#39;re putting the milk in your shopping basket, you notice a small asian girl watching you.  She&#39;s staring at you intently.  You look back at her, wondering why she&#39;s looking at you.  She&#39;s wearing a cute school uniform, and a woman who is presumably her mom is busy at a counter buying meat.

The little girls starts to wander over to you.

You look down at her, and she reaches up and unzips your fly.

[[Wait to see what happens]]

[[Push her away and get out of there|Run]]
</tw-passagedata><tw-passagedata pid="5" name="Wait to see what happens" tags="" position="410,532" size="100,100">You&#39;re so shocked that you just freeze, staring down at her.

This tiny little asian girl just reaches her small hand right into your pants and pulls out your cock right there in the middle of the supermarket!  You&#39;re soft, but the little girl immediately leans forward and sucks your cock into her mouth and starts sucking on it enthusiastically!

You groan out loud.  The whole thing has taken only a few moments, but it&#39;s already the most amazing thing you have ever felt in your whole life!

[[Grab her head and push your cock in as deep as it will go]]

[[Push her away and get out of there!|Run]]

[[Grab the girl and get out of there, taking the girl with you!|Run With Girl]]
</tw-passagedata><tw-passagedata pid="6" name="Grab her head and push your cock in as deep as it will go" tags="" position="322,671" size="100,100">In just moments you&#39;re rock hard and face fucking this little girl in the middle of the supermarket.  You groan out loud, this girl is slurping and sucking on you with such an intense skill and enthusiam that you know you can&#39;t last long!

You hear a scream from the asian girl&#39;s mother who rips her daughter out of your grasp, your wet hard cock bobbing in front of her.  Someone punches you, and you&#39;re down.

&lt;hr&gt;

It doesn&#39;t take long for the Jury to convict you.  You go to prison, and you die there.

The End.
</tw-passagedata><tw-passagedata pid="7" name="Run3" tags="" position="542,787" size="100,100">You&#39;re walking quickly along the street and pass by a black mother chatting on the phone with a young girl by her side.  You pass by nervously, but neither of them look at you.

But suddenly you hear the sound of running footsteps behind you.  You turn, and the young black girl crashes into you.

You fall over and she falls on top of you.  You&#39;re dazed for just a moment, but in the few seconds she&#39;s already managed to unzip the fly in your trousers, and pull out your cock!  She&#39;s now fumbling with the trouser belt, unsure of how it opens.

In the distance, the mother is still on the phone and doesn&#39;t seem to have noticed.

[[Wait to see what happens-&gt;Wait to see what happens2]]

[[Push her off your crotch, get your cock back into your trousers, then get away]]

[[Run for it, even with your cock hanging out in the middle of the street|Run4]]
</tw-passagedata><tw-passagedata pid="8" name="Run" tags="" position="541,665" size="100,100">This is just too crazy and too dangerous!  You push away, fixing your trousers, and walk with a fast walk out of the store.  You hear her follow you, but then her mom catches her and drags her back into the store.

[[Head towards home|Run3]]

[[Heads towards the park|Run3]]
</tw-passagedata><tw-passagedata pid="9" name="Push her off your crotch, get your cock back into your trousers, then get away" tags="" position="334,938" size="100,100">You struggle to push her off, but she&#39;s gripping your belt.  You push your cock back into your trousers, but she&#39;s already found how to open your belt.

You try to push her off you again, but she&#39;s pulling your trousers down as you push her away!  You grab your trousers and stop her, just as she manages to get them down enough to reveal the head of your cock.

You pry her hands off your trousers, but she&#39;s already lowered her head and has sucked the head of your cock into her mouth.

[[Get her off you and fix your trousers]]

[[Just run for it.  Sort out your exposed genitals once you&#39;re away from here|Run4]]

</tw-passagedata><tw-passagedata pid="10" name="Run4" tags="" position="617,975" size="100,100">You decide that it&#39;s best to just run for it, even with your cock exposed.

You twist out of her grasp, and run.  You hear the small black girl chasing you.

A house door up ahead opens, and a little white girl comes out, completely naked and dripping wet as if she had just ran out of a shower.  She sees you running towards her, and she moves so as to try to catch you.

Your exposed cock is hanging out and visible to everyone who looks.

[[Just run past or through her - she&#39;s only small.  She can&#39;t really stop you]]

</tw-passagedata><tw-passagedata pid="11" name="Wait to see what happens2" tags="" position="307,828" size="100,100">It took only a few more seconds for her to figure out how to get your belt off.

Her hands dive inside your underwear, pushing your trousers down, and already she&#39;s stuffing your cock in her mouth.

Her small hands inside your pants find your balls, and start to fondle them.  You&#39;re groaning, and pushing up with your hips, forcing your cock deeper down this little girl&#39;s throat.

There&#39;s the sound of the screech of a car&#39;s tires and lots of movement behind you.

You turn, and see an incomming fist.

You&#39;re knocked out.

Life does not end well for you.

The End.</tw-passagedata><tw-passagedata pid="12" name="Get her off you and fix your trousers" tags="" position="334,1088" size="100,100">You grab both her arms and pull them behind her back, and hold them there with one hand.  With the other you grab her pony tail and pull her off your cock.

You quickly climb to your feet, easily holding the small squirming girl by her pony tail and arms.  Your exposed wet cock just inches from her mouth, your trousers round your knees.

You hear the screach of a car&#39;s tires behind you.  You barely have time to react before someone hits you from behind.

You go down.

Your go to prison for a long long time.  Nobody believes your story.</tw-passagedata><tw-passagedata pid="13" name="Just run past or through her - she&#39;s only small.  She can&#39;t really stop you" tags="" position="617,1088" size="100,100">The wet little white girl jumps into your path despite your best efforts to avoid her.  You slam into her and she goes flying. She hits the wall, but even before you&#39;ve passed her you can see her already starting to get back to her feet.

You suddenly collide with another girl that has just come out.  You didn&#39;t see her at all.  You crash into her and fall over her to the ground, as she goes sprawling as well.

You look up to see the wet naked girl running at you and leap at you.

Flat on your back, you grab the wet naked girl as she falls on you, and pull her away from you and down to the ground next you.  But that other girl, fully clothed, has recovered and is already going for your belt.

Not that far down the road you can see the small black girl still trying to catch up to you.


You&#39;re lying on your back on the pavement in broad daylight, pinning a naked wet girl down on the ground next to you, while another girl is fumbling with your belt.

[[Roll over on to all fours, protecting yourself and making it easier to run for it.]]

[[Stand up from your face up position, while trying to fend off your attackers]]
</tw-passagedata><tw-passagedata pid="14" name="Roll over on to all fours, protecting yourself and making it easier to run for it." tags="" position="410,1249" size="100,100">You roll over on top of the naked wet girl lying on the pavement, throwing off the girl attacking your belt.

The naked wet girl reaches up and grabs you, as the other girl jumps on your back.

The girl on your back grips you and digs her shoes into your trousers. It seems that she&#39;d managed to undo your belt after all because your trousers slide down, exposing your hard cock.

You brace yourself ready to run, ignoring the wet girl beneath you grabbing at your cock.  You have to get out of here!  These girls are far too small and weak to have any hope of actually holding you here.

You tense, pushing up, when you are suddenly slammed off balance.

The black girl has finally caught up and leapt on your back, joining the other girl.  You&#39;re pushed forward and down, collapsing on top of the naked wet girl beneath you.  Your cock pressing against her naked crotch!

[[Remain on all fours, but push away and stand upright.]] Even two girls on your back can&#39;t stop you standing up.

[[Roll over on to your back again.]]  It&#39;s a harder position to escape from, but at least temporarily safer
</tw-passagedata><tw-passagedata pid="15" name="Stand up from your face up position, while trying to fend off your attackers" tags="" position="670,1249" size="100,100">You climb to your feet, but it gives time for the clothed girl to undo your belt.  The naked wet girl on the ground is grabbing at your trousers, and together the two girls try to pull your trousers down, your hard cock already exposed and bobbing in the air.

You don&#39;t have time to pull them both off your trousers, and the black girl is almost upon you. You don&#39;t see any other choice.   You have to get out of here.  Now.

[[Kick off your shoes and trousers and just run for it]]  Let the girls have them.
</tw-passagedata><tw-passagedata pid="16" name="Remain on all fours, but push away and stand upright." tags="" position="334,1399" size="100,100">The naked wet girl grabs you from underneath like a koala as you struggle to stand, clinging on to you and pushing her tiny pussy against your cock.

Her puffy hairless slit is soaking wet, and you can feel the heat of it against your cock.  But she&#39;s far too small and you&#39;re far too big to even get the head inside.

You push up with your arms and legs, into an all-fours position, getting ready to stand, when you suddenly feel a pressure on your anus, and one of the girls on your back push their finger into your ass!

You freeze in shock - you&#39;ve never felt anything like that before!  Your knees wobble when a second small finger forces its way in.  When they both wriggle inside your rectum, your legs give out and you collapse heavily to the ground.

Your own weight and the weight of the three girls clinging to you drive you down hard.  The tiny naked girl clinging underneath you hits the ground first, and your hard cock skewers her small pussy.  The combined weight forcing your entire cock in to the hilt.

Pleasure swamps you - nothing has ever felt so great in your life.  She&#39;s writhing underneath you and groaning, her pussy milking you.  You can hear an angry shout from the enraged father of the naked girl.  But small hands are already massaging your balls, coaxing you to cum.  You can&#39;t help but thrust down and fuck the small girl.

Just as the angry father reaches you, you can&#39;t hold back any more and you fuck her hard as you cum balls deep inside his young daughter, your hips fucking her so hard that you&#39;re rapidly lifting her small frame up and slamming her back down against pavement.


You don&#39;t survive the encounter with the angry father, but if it&#39;s any consolation, you made the young girl pregnant.  Noone thought it was possible, so by the time they discovered it it was too late to abort.

The End</tw-passagedata><tw-passagedata pid="17" name="Roll over on to your back again." tags="" position="542,1495" size="100,100">You roll over on to your back, trying to get away, but the naked girl clings on to you and rolls on top of you.  Your face is suddenly smothered as the small black girl jumps on your face, her skirt riding up, her white panties pressing against your face.

You grab at the black girl on your face and throw off you, but the delay has given the wet naked girl time to get into a crouching position on top of you, your cock aimed straight up at her tiny bald slit.  She drops her weight down, and manages to force a solid inch between her slippery wet slit.

She struggling, unable to get any more of your cock to fit inside her.  You try to push her and she wobbles.  The other girl grabs her before she falls, and pushes her down, using their combined weight to force another inch of your thick cock into the naked wet girl.

You try to push them both again, when the black girl climbs back on your face, lifting her skirt.  This time there&#39;s no sign of any panties, and your face is smothered by the most beautiful smooth black slit, which parts slightly to reveal a soft pink interior.  The black crotch rubs down your face leaving a trail of intoxicating slime.

You feel a sudden jerk as the wet girl managed to get another inch of your cock into her.  You can&#39;t take it anymore.  It&#39;s the most amazing feeling and it&#39;s blowing your mind.

You groan, and blindly grab the thin wet girl&#39;s hips, and force her the rest of the way down, bucking up into her.

Your tounge snakes out, and you lick the black girl&#39;s small pussy who squeals in delight.  You last only a couple of strokes, and you&#39;re cumming.  Blasting the wet girl&#39;s insides with your cum.

With your face between the black girl&#39;s thighs, you don&#39;t even hear as the wet girl&#39;s father runs at you.

Your last experience alive is the most amazing orgasm of your life.  If it&#39;s any consolation, you made both the black girl and the naked wet girl cum at the same time, giving them an experience that they will spend their whole life trying to recreate.

The End</tw-passagedata><tw-passagedata pid="18" name="Kick off your shoes and trousers and just run for it" tags="" position="727,1382" size="100,100">You kick off your shoes and trousers, but they even get your underwear as well.  But it works - you manage to break free, and are already running for it, completely naked from the waist down, your cock rock hard.

You can hear the three girls behind you chasing you, but you can easily outrun them.  Your bare feet running on the pavement.

You try to think - what on earth is happening here?  You have to find a place rest,  you&#39;re getting really tired.  Adrenaline is driving you for now, but you need to get off the streets.

Your house isn&#39;t that far.  If you can just get to it you could lock the doors and board up the windows.  But you forgot about the route that you&#39;re taking - up ahead you can see your local playground.  It&#39;s the middle of a school day, but there&#39;s still a few of the younger kids there with their parents.

You&#39;re running out of time to decide, but there&#39;s not many options.  You can already see a couple of the girls stop their play and turn to look at you.

None of the parents yet have noticed that the half naked man running at their children with an exposed hard cock jutting out in front of him, but it can&#39;t be too long until they notice.

If you get too delayed here, the other three girls might eventually catch up you.  But the only other option that you can spot is to try to climb over a tall wall the runs along side you.


[[Risk it, and run through the children&#39;s park half naked]]

[[Jump over the tall wall]] and hope that there&#39;s safety on the other side.
</tw-passagedata><tw-passagedata pid="19" name="Risk it, and run through the children&#39;s park half naked" tags="" position="542,1625" size="100,100">You avoid the first couple of kids grabbing at you, but one enterprising girl jumps from the top of the slide as you pass it, grabbing you around the neck.

Offbalance, you stumble, delaying you enough to give another kid the time to grab hold of your leg.  You stumble onwards, dragging the kid with you, pulling off the girl around your neck.  You look down at a sudden warm feeling on your cock to see the girl on your leg sucking enthusiastically on your cock.

You stumble on - desperately trying to get out of the park.  But when she attempts to deep throat you stumble and trip forward.  When you both hit the ground, your large cock is forced deep into the little girl&#39;s throat, to her utter delight.

The pleasure is overwhelming, but you can already hear the screams of the protective mothers as they descend upon you.  It&#39;s been too much, and you&#39;re too tired. You grab the girl&#39;s head and fuck her throat.

To the girl&#39;s delight, you manage to cum down her throat before the mothers get to you.

The end result for you though is.. well... not pretty.

The End.</tw-passagedata><tw-passagedata pid="20" name="Jump over the tall wall" tags="" position="802,1532" size="100,100">You stop, turn, and jump up and grab the top of the wall.  Your bare feet push against it as you scramble up and over. You scrape your bare leg against the top, and fall down the other side and hit grass on the other side.

You moan, and then look up.  30 pairs of eyes look back at you.

You&#39;ve just fallen into the yard of your local primary school.  How could you have forgotten that this was here!

There&#39;s a mix of young girls and boys here, but even the boys are looking at you in that strange way now.

You all freeze, nobody saying anything.  You look around desperately for some sort of escape.  You don&#39;t immediately spot any teacher, but there must be one somewhere nearby.  There&#39;s a school gate but you can already see that it&#39;s locked.

Your only chance is either back over the tall wall, or to run through the school.

[[Try to jump back over the tall wall|run5]]

[[Try to run through the school|run5]]

[[Immediately drop down and curl into a ball|Defensive]]</tw-passagedata><tw-passagedata pid="21" name="run5" tags="" position="756,1670" size="100,100">You get to your feet, ready to make your break.  But whatever plan you had doesn&#39;t matter.

Your movement breaks the spell of silence, and 30 kids descend upon you.

In desperation, you actually punch the first kid that gets within a range - a sweet little girl with pigtails.  She goes flying, but two more take her place.

And then they are upon you.

They jump on your arms, and you&#39;re brought to your knees.  At least two or three little mouths immediately latch on to your cock, and you can feel more hungrily trying to get at your balls.  Another kid jumps on your face, and you can no longer stay upright.  You tumble over backwards on to your back.

Kids are climbing on your face, and you can feel a dozen tounges on your bare feet and legs.  Two kids suck on your testicles.

You groan, throwing the kid on your face off you - you can&#39;t even tell which are boys and which girls.

But another kid replaces them, but this one you can tell is a girl, because she is butt naked!  The kids that are unable to reach you are shedding their clothes.  The girl that is climbing on your face presses her small young slit against your face, her high arousal evident from the glistening juices.

Many small hands stroke and tossle your cock back and forth, everyone seemingly want to have a suck on it, until you are so rock hard that groan into the soft bald pussy smothering your face.

You struggle to sit upright, pushing kids off.  The girl on your face has your head in a leg lock, but she&#39;s too weak to prevent you from prying her apart to get her off.

One of the naked girls straddles you, and manages to line herself up with her small slit against your leaking cock.  She tries to press your cock inside her, but she&#39;s one of the smallest girls yet, and you&#39;re far too big.  A dozen hands grab her body and push her down, with more soft hands holding your cock to guide it.  Her small slit is steadly forced to part to let you inside.

You groan at the wet vice grip on your cock and the children work together to push her small body inch by inch down on to your large cock.

The girl on your face rubs her wet slit back and forth over your nose, until she climaxes and rolls off.  Just as the next girl climbs on to your face, the small girl on your cock finally sinks the last inch inside her.

When the children start to lift her up and down like a living onahole, you cum, painting her insides with your sperm.  But they don&#39;t stop, and she&#39;s far too tight for you to go soft.

It&#39;s only when she has her first ever orgasm that she&#39;s finally pulled off you, and the next kid takes her place.

The kids rape you over and over, never giving you a break or any chance to escape.  They ignore your begging and pleading, ignore how sore and painful your cock gets.  They seem to know how to keep you hard, even stimulating your prostate to force you to cum time after time until they have forced you to cum inside every girl in the playground.

You don&#39;t remember when you pass out, only that you wake up surrounded by angry police.  Your sentence is swift and harsh, and you never hear the strange news that every single one of those girls became pregnant.  You are stabbed and killed in prison.


The End.


(if: setHasPlayed())[]
</tw-passagedata><tw-passagedata pid="22" name="Run straight home" tags="" position="786,401" size="100,100">You&#39;re not taking any chances!

You head straight out of the park and straight towards home.

You make it there in good time without any incidence.

You know you&#39;re being paranoid, but you run round the house and close and lock all of the windows and doors.  You pull all the curtains closed.

It is about 20 minutes later that you hear a knock at the door.

[[Ignore it]]

[[Peek through the window and see who it is]]
</tw-passagedata><tw-passagedata pid="23" name="Ignore it" tags="" position="611,551" size="100,100">There is no way that they are going to trick you!

You decide that the best approach is to just go up to bed for the night.

You hear banging at the windows and doors all night, and you have a fitful sleep.  It takes several days, and you refuse to open the door to anyone, but eventually the noises die away.

A week later you are able to emerge safely from your house.

You have survived the curse!
</tw-passagedata><tw-passagedata pid="24" name="Peek through the window and see who it is" tags="" position="894,535" size="100,100">Pulling back the curtain slightly, you see a small girl standing by your front door.  There&#39;s no parent in sight.

[[Open the door to them]]

[[Ignore them and hope they will go away|Ignore it]]
</tw-passagedata><tw-passagedata pid="25" name="Open the door to them" tags="" position="861,701" size="100,100">You open the door a crack, cautiously.  Standing there is a very nervous girl in a school uniform.

You ask her what she wants, but she says nothing at all, just bites her lip and stares at your crotch.

[[Let her in]]

[[Close the door and ignore her|Ignore it]]
</tw-passagedata><tw-passagedata pid="26" name="Let her in" tags="" position="861,851" size="100,100">You cautiously stick your head out and look around, making sure that noone else is there, then open the door.  She quickly comes in, and you shut the door and bolt it.

She&#39;s already got her hands on your crotch, unzipping your trousers.

You just let her, and in moments she&#39;s got your cock in her mouth and giving the best blowjob that you&#39;ve ever had in your whole life.  The small girl is enthusastically trying to deepthroat you and failing completely.  You barely even fit in her mouth, let alone her throat, but it doesn&#39;t matter - it still feels incredible!

You&#39;re getting close - you&#39;re going to cum in her mouth!

But there&#39;s another knock on the door.  You peak out the window, and see one of the cutest girls you&#39;ve ever laid eyes on.  She looks up at you, and the look in her cute eyes pushes you over the edge.  You&#39;re cumming hard into the slurping mouth around your cock.

[[Let in the second girl]]

[[Ignore second girl and take first girl upstairs to bed]]

[[Ignore second girl and kick out the first girl]]


</tw-passagedata><tw-passagedata pid="27" name="Defensive" tags="" position="906,1676" size="100,100">Knowing that you have no chance to escape from this playground full of crazed kids, you drop quickly to your knees and curl immediately into a defensive ball.

You are still naked from the waist down, but you try to protect yourself as best as you can.

The kids descend upon you, and you feel dozens of hands grab at you.  You curl tightly into a ball, tucking your head under your arms, and your knees to your chest.

You feel the children pulling on your clothes, trying to get access to your vulnerable body, but you stay tightly curled up, refusing to offer any easy targets to the crazed kids.

You feel their small soft hands roaming over your bare bottom, but you don&#39;t dare do anything to prevent that, keeping your hands protecting your head.

You feel hands pulling on your t-shirt, trying to remove it from your body.  Together they are remarkably strong.  You squeeze your arms in, trying to prevent them from taking your top.

That&#39;s when you feel a small finger poke at your exposed anus.  You yelp, but don&#39;t dare try to protect yourself.  Kids are still pulling at you, and need both arms just to keep your t-shirt on.

The finger pushes against your anus, and your clench your bottom tight.  Many small hands grasp at your bottom cheeks, prying them apart, but you manage to squeeze tight, preventing the finger from penetrating you.

You try to feebly crawl towards the gate, but it&#39;s too late. One of the many small hands has gotten between your legs, and grasps your cock.  You feel them slide up and down, starting to masturbate you.  You gasp, and the momentary lapse allow the finger pressing against your anus to slide right in.

You try to crawl faster, twisting to try to get away and get free of the finger now burried in your bottom, but a hand grabs your delicate testicals, very effectively stopping you in your tracks.

You sob as the children masturbate your cock as you stay curled up, face down, and as the finger burried in your bottom presses against your prostate.  You pathetically cum in the playground, your seed spilling on the ground.  They don&#39;t even pause or slow down, forcibly milking you again and again as your sobs grow more and more pathetic.

You don&#39;t even notice when a girl manages to worm her head underneath you, and her warm mouth latches on to your cock, sucking to drain every last drop of semen from you.

By the third time that you cum down her throat, all trace of sanity has left you.  You have been driven into a permanent madness.

The End.

(if: setHasPlayed())[]
</tw-passagedata><tw-passagedata pid="28" name="Run With Girl" tags="" position="72,621" size="100,100">You grab the small child up into your arms, and walk quickly for the supermarket exit.  She lightweight, but she&#39;s squirming in your arms.  Thankfully she&#39;s not making any sound though.

You keep expecting to hear yells, but in less than 30 seconds you&#39;re already out of the supermarket, heading away as fast as you can walk without drawing too much attention.

Your cock is still hard and hanging out of your trousers, but is hidden from view by the asian girl&#39;s body.

The young girl is still squirming in your hold, and you suddenly realise that she&#39;s not squirming to get away, but that she is trying to dry hump you!  Her squirming is becoming more vigorous, making it difficult to hold her.

Your heart is beating hard.  You try to think what to do.  You should drop the girl, run home and think what to do.

[[Put the girl down, and run home]]

[[Head straight for home, carrying the girl with you]]

[[Pull off her underwear]]


</tw-passagedata><tw-passagedata pid="29" name="Put the girl down, and run home" tags="" position="187,770" size="100,100">Glancing around to make sure that noone else is around, you put the girl down.  Her hands and head are instantly reaching for your exposed cock again.

She looks so cute and innocent, despite her actions, and you feel incredibly guilty as you push her away from you so hard that she falls over, and you take off running in the other direction, doing up your zipper as you run, leaving her behind.

[[Keep going|Run3]]
</tw-passagedata><tw-passagedata pid="30" name="Head straight for home, carrying the girl with you" tags="" position="5,824" size="100,100">You&#39;re trying to head home as quickly as you can, but the asian girl is twisting about, increasingly franctic.  It&#39;s becoming hard to hold her.

You approach a black mother chatting on the phone with a young girl by her side.  As you approach, she slows, and stares at you holding the little girl who is clearly trying to struggle from your grasp.
She stops, and quite firmly says &quot;Excuse me&quot; to you.

You stop, trying to give her a look of &quot;Kids, eh, am I right?&quot;

She questions you, trying to figure you out, as you try to put her at ease.  Your answers are making her more and more suspicious - you don&#39;t have any experience around kids damnit!  She&#39;s getting closer, her face uncomfortably close to yours. 

You feel a wet hot mouth suddenly engulf your cock.  With all the squirming that the asian girl was doing, you didn&#39;t notice the black girl approach you, unzip you and manage to extract your cock!

You choke and splutter, struggling to maintain your composure.  The small mouth on your cock is fucking fantastic.  You bite your lip to try to surpress a moan, your eyes rolling back.  The mom stares at you, then seems to notice that her own young daughter is right between your legs.  The back of the kid&#39;s head is hiding the amazing things she is doing to your cock at that moment.

The small black child sucks hard on your member, deep throating you, and you feel the girl&#39;s hot tongue do something that makes your knees buckle.

The mom takes a step back, her eyes bulging, trying to get a better look at what&#39;s going on.

[[Pull the black child off your cock, and run]]
</tw-passagedata><tw-passagedata pid="31" name="Pull off her underwear" tags="" position="159,994" size="100,100">Holding the asian girl around the torso, you reach underneath her school uniform skirt.  She stops squirming, and waits almost patiently for you to grasp her soft panties and pull them down.  She wriggles her bottom and holds her legs straight, to help you pull them off her.

Her panties are a soft white, with a cute teddy bear image on them.  You stuff the panties in your pocket, and the girl purrs, much happier now.  She puts an arm around your neck as your hold her around her waist again, and she fiddles, holding the front of her skirt up so that she can press her hairless crotch directly against your cock.

You&#39;re already walking again, trying to get as much distance as possible from the supermarket, and as close to home as possible.

You see a black woman with her young daugher come into view further up the street, approaching your direction.

The asian girl is rubbing her puffy slit tight against your hard cock.  You can feel how wet she is.

[[Act naturally]]
</tw-passagedata><tw-passagedata pid="32" name="Pull the black child off your cock, and run" tags="" position="16,1123" size="100,100">Holding the asian girl with one hand, you grab the black girl by her locks, and yank her right off your cock.

She slurps the entire length, and the final suction pushes you over the edge.

You hold the black girl&#39;s hair as your now-freed cock lurches then erupts, painting the girl&#39;s face with your cum.  The black mom is frozen in shock as she watches you spurt cum twice then three times on her daughter&#39;s face.

And then the mom is on you, yanking the asian girl from you, then clawing from your face.

The result was not pretty.</tw-passagedata><tw-passagedata pid="33" name="Act naturally" tags="" position="159,1144" size="100,100">You plan to just try to act naturally as you approach the black mother and daughter, but the asian girl in your arms pulls herself, and before you can say anything, she&#39;s grasping your cock, and pressing the large cock head into her small slit.

You gasp and clutch her tightly.  She&#39;s wriggling, and starts to slide down your cock, her school uniform skirt hiding it from public sight.  You press her against you, and take the small child&#39;s virginity just as you pass the black woman.  She makes a childish squeak, but the black woman is too busy on the phone to take any notice.

The moment you have passed the black woman and her daughter, you break into a run.  The movement pounds your cock deeper into child, inch by inch, but it can&#39;t be helped.  You have to just get home and figure out what to do next.  The child makes cute noises with every inch, clearly enjoying it.

Your hear various noises behind you, but you just ignore everything and run for home.

[[Home]]
</tw-passagedata><tw-passagedata pid="34" name="Home" tags="" position="159,1294" size="100,100">Your whole body is shaking by the time your reach home.  You had been fighting off cumming for the last five minutes, and yours hands are shaking hard as you pull out the door key.


And then you&#39;re in your house, moments away from cumming in the small child.

You have just enough presence of mind to lock the door, then you fall to floor, finally free to vocal as you slam your cock into the small school girl.

You barely get two thrusts before your cumming in her.

You&#39;re still hard, and the girl is still clearly up for more, so you fuck her again, pulling her over to the bed.  After so much panic, your adrenaline is running high, and you take it all out on her.  You fuck her hard, and she loves every moment of it.


The girl is insatiable, and you find that you have to tie her to the bed whenever you need a rest.  You undress her, and fuck her in every position.

This may have been intended to be a curse on you, but you have the time of your life.</tw-passagedata><tw-passagedata pid="35" name="Let in the second girl" tags="" position="747,1001" size="100,100">The second girl is so cute that you can&#39;t help letting her in, firmly locking the door after her.

You pull the first girl off your cock, and take the two of them up the stairs.

The two girls fuck you, insatible for your cock.  But trying to maintain full control over two girls at once proves to be difficult.  After multiple fucks, one girl slips away momentarily, returning only after she had unlocked and open the front door.

You only realise that something had gone wrong when three more girls come charging into your bedroom, crazed for your cock.  You try to tie them to the bed, trying to control them, trying to at least get to lock your bedroom door.  But four more girls burst into the room, leaping immediately on top of you.

They tie you to the bed, and proceed to fuck you non-stop.

You die of the thirst somewhere around 40 hours later, but your mind and cock were broken long before that.

The End.
</tw-passagedata><tw-passagedata pid="36" name="Ignore second girl and take first girl upstairs to bed" tags="" position="863,996" size="100,100">You decide to not ruin what you already have.  You pull the first girl off your cock, pick her up, carry her upstairs, and throw her into the bed.

You pull off her clothes, and together you fuck.  You fuck her whenever you can get hard, and tie her to the bed whenever you need a break  -- she&#39;s utterly insatiable and seems to have unlimited energy.

You cum so many times inside her that you can&#39;t keep track.

By the fourth day, she seems to be coming out of the haze, and you dress her and clean her up, and she seems to have no memory of what happened.

You reluctantly kick her out of the house, happy with what you got.

You have survived the curse!

</tw-passagedata><tw-passagedata pid="37" name="Ignore second girl and kick out the first girl" tags="" position="987,1001" size="100,100">You&#39;ve cum, and you&#39;ve had fun.  Best to quit now while you are ahead.

The girl on your cock is still slurping away, trying to clean it as best as she can.

You open the door carefully, bracing your foot against it, preventing the second girl from entering.  You reluctantly work the first girl off your cock, having to be quite forceful as she tries to grip you.   She fights back, not willing to give up your cock without a fight.

The second girl is pushing too, trying to get in, but you yank the first girl off you, and almost throw her out of the door, knocking the second girl over.  You slam the door shut, and lock it.

You hear banging on door, and whimpering sounds.

[[Ignore them both and go to bed until this all blows over]]
</tw-passagedata><tw-passagedata pid="38" name="Ignore them both and go to bed until this all blows over" tags="" position="987,1151" size="100,100">You&#39;ve cum once, and anything more just seems way too risky.

You decide that the best approach is to just go up to bed.

You hear banging at the windows and doors all night, and you masturbate multiple times to the memory of that fantastic blow job.

It takes several days, and you refuse to open the door to anyone, but eventually the noises die away.

A week later you are able to emerge safely from your house.

You have survived the curse!
</tw-passagedata></tw-storydata>